* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: block;
  /* background-color: black; */
}

/* App */

/* NavContainer */

.nav-container {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: solid black;
  -webkit-box-shadow: 0px 2px 6px 0px #000000;
  box-shadow: 0px 2px 6px 0px #000000;
  z-index: 1;
}

/* NavBar */
.navbar-toggler {
  color: white;
  border: none;
}

.energy-navbar-title {
  color: darkgrey;
}
